@import url('https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&family=Indie+Flower&family=Oswald:wght@200;300;400;500;600;700&display=swap');

.photos__container {
    display: block;
    text-align: center;
}

.photos__item {
    display: inline-block;
    vertical-align: middle;
    width: 200px;
    margin-left: 12px;
    margin-right: 12px;
    margin-bottom: 12px;
    opacity: 0,8;
    transition: all 0.5s linear;
}

.photos__item:hover {
    transform: scale(1.8) ;
    z-index: 200;
    opacity: 1;
    
}

.photos__item_image {
    display: block;
    width: 100%;
    background-color: orange;
    min-height: 120px;
}

.photos__item_text {
    display: block;
    color: rgb(138, 138, 138);
    padding-top: 4px;
    padding-bottom: 4px;
    font-family: 'Oswald', sans-serif;
    font-family: 'Cabin', sans-serif;
    font-family: 'Indie Flower', cursive;
}